<!-- @structr:public, @structr:owner(admin), @structr:grant(admin,arwd) --><footer class="sticky-footer bg-white" data-structr-meta-name="Navigation Bottom" data-structr-meta-id="5d275bfc9911468a8b9c12598a4f1dfb">
	<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
	<div class="container my-auto" data-structr-meta-id="217a3d3c1b7e404d83baeb54abbd9f87">
		<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
		<div class="copyright text-center my-auto" data-structr-meta-id="3d411644db3548e4bf6a53551d6083ca"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><span data-structr-meta-id="72212d0aaf6244698c6e92e4f1985374"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Copyright © Structr GmbH 2022</span></div>
	</div>
</footer>